BasedOnStyle: Mozilla
AccessModifierOffset: -2
IndentWidth: 4
AlignArrayOfStructures: Left
AlignConsecutiveBitFields: true
AlignEscapedNewlines: Right
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterComma
ColumnLimit: 100
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IndentCaseLabels: true
Language: Cpp
PackConstructorInitializers: NextLine
PointerAlignment: Left
ReferenceAlignment: Pointer
Standard: Cpp03
SeparateDefinitionBlocks: Always
