[submodule "ft_containers_tester_v2"]
	path = ft_containers_tester_v2
	url = https://github.com/Mikastiv/ft_containers_tester_v2.git

[submodule "mli_tester"]
	path = mli_tester
	url = https://github.com/mli42/containers_test.git
